<div>
    <a href="{{ path('contact') }}">Contact</a>
    <a href="{{ path('faq') }}">FAQ</a>
    <a href="{{ path('ajouter-produit') }}">Nouveau produit</a>
    <a href="{{ path('lister-categories') }}">Catégories</a>
</div>
<div>
    Admin:
    <a href="{{ path('admin_categorie_index') }}">Catégories</a>
    <a href="{{ path('admin_utilisateur_index') }}">Utilisateurs</a>
    <a href="{{ path('admin_produit_index') }}">Produits</a>
    <a href="{{ path('admin_commande_index') }}">Commandes</a>
</div>
